body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #000;
  box-shadow: inset 0 0 8px #ffffff;
  padding: 5px;
  margin: 0;
  color: #dd5731;
  cursor: default;
  -webkit-user-select: none;
}

.wide {
  width: 200px;
}

.center {
  text-align: center;
}

.title {
  font-size: 12px;
  padding: 2px 0;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  padding: 3px;
  margin: 0;
  font-size: 0;
}

#play-pause-button {
  transition: border-color 300ms linear;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 1px solid #000;
  padding: 2px;
  margin: -3px;
  border-radius: 3px;
}

#play-pause-button:hover {
  border-color: #963b21;
}

#stream-selection-widget {
  position: relative;
}

#stream-selection-widget:hover #stream-info {
  display: block;
}

#stream-info {
  display: none;
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
}

#stream-info div {
  transition: opacity 300ms ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
}

#stream-info div span {
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, .7);
  background: linear-gradient(#963b21, #dd5731);
  white-space: nowrap;
  border: 1px solid #dd5731;
  border-radius: 6px;
  margin: 1px;
  padding: 0 6px;
  cursor: pointer;
  color: #fbd186;
  font-size: 11px;
  display: inline-block;
}

#stream-selectors {
  font-size: 11px;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none;
  background: linear-gradient(#963b21, #dd5731);
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 1px solid #dd5731;
  border-radius: 4px;
  width: 150px;
  height: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 4px;
  background: linear-gradient(#fbeed7, #fbd186);
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: #fbd186;
  cursor: default;
}

input:focus {
  outline: 0;
}

label {
  cursor: pointer;
  font-size: 11px;
}

.loading {
  border-style: solid;
  border-color: #000 #dd5731;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border-width: 3px;
  -webkit-animation: spin 2s infinite linear;
  display: inline-block;
  margin: 20px;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

#song-info-image {
  margin: 8px 0;
  font-size: 0;
}

#song-image-border {
  padding: 8px;
  border: 1px solid #963b21;
  display: inline-block;
}

#song-image-keeper {
  margin: 0;
  border: 0;
}

img {
  width: 140px;
  margin: 0;
  border: 0;
}

#song-info-text {
  margin: 5px 0;
}

.song-info {
  font-size: 16px;
}

.song-info-title {
  margin: 2px 0;
  font-size: 8px;
}

#rp-link {
  cursor: pointer;
  font-size: 10px;
  padding: 3px;
}

#rp-link:hover {
  text-decoration: underline;
}
