html, body {
  height: 100%;
  -webkit-user-select: none;
}
svg {
  cursor: pointer;
}


#stream-selectors {
  font-size: 0;
}

#stream-selectors svg {
  margin: 1px;
}


#svg_light stop:nth-child(1) {
  stop-color: #fbeed7;
}
#svg_light stop:nth-child(2) {
  stop-color: #fbd186;
}
#svg_dark stop:nth-child(1) {
  stop-color: #963b21;
}
#svg_dark stop:nth-child(2) {
  stop-color: #dd5731;
}

/* volume */

.svg-light {
  fill: url(#svg_light);
  stroke: #fbeed7;
}
.svg-dark {
  fill: url(#svg_dark);
  stroke: #dd5731;
}

/* switch */

.element-on, .element-off {
  transition: opacity 400ms ease-in-out;
}

.container-on .element-on {
  opacity: 1;
}
.container-on .element-off {
  opacity: 0;
}
.container-off .element-on {
  opacity: 0;
}
.container-off .element-off {
  opacity: 1;
}
